*{
    margin: 0;
}

.page-container{
    width: 100vw;
    height: 100vh;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container2{
    width: 100vw;
    height: 300vh;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}



body{
    overflow-x: hidden;
    background-color: #333030;
}

html, body {
    scroll-behavior: smooth;
}


.top-bar{
    width: 100%;
    height: 16%;
    background-color: #423c3c;
    padding-bottom: 1%;
}

.top-bar-box{
    width: 100%;
    height: 50%;
    background-color: #423c3c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.button{
    width: 150px;
    height: 100%;
    border: none;
    background-color: #423c3c;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20%;
  }

.button1{
    width: 150px;
    height: 100%;
    border: none;
    background-color: #423c3c;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20%;    
}

.button:hover{
    background-color: gray;
}

.button-img{
    height: 50px;
    width: auto;
}

.main-img-box{
    width: 100%;
    height: 75%;    
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-img{
    width: 100%;
    height: 100%;
}

.middle-box{
    height: 8%;
    width: 100%;
}

.content-container1{
    height: 13.33%;
    width: 80%;
    background-image: url("bilder/army-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
}

.content-container2{
    height: 13.33%;
    width: 80%;
    background-image: url("bilder/defence-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
}

.content-container3{
    height: 13.33%;
    width: 80%;
    background-image: url("bilder/builder-base-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
}

.content-container4{
    height: 13.33%;
    width: 80%;
    background-image: url("bilder/town-hall-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
}

.content-container5{
    height: 13.33%;
    width: 80%;
    background-image: url("bilder/clan-capital-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
}

.box-text{
    margin-top: 20px;
}

h1{
    font-size: 50px;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.bottom-box-container{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-box{
    height: 70%;
    width: 100%;
    background-color: #423c3c;
}




    



.page-container3{
    width: 100vw;
    height: 300vh;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rect{
    width: 90%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #423c3c;
    border-radius: 15px;
    margin-bottom:  5%;
}

.army-box{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.troop-img{
    width: auto;
    height: 80px;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
}
  
.top-box{
    width: 100vw;
    height: 15vh;
}

#elixir-troops{
    border-color: chartreuse;
    border-style: solid;
}

#dark-elixir-troops{
    border-color: crimson;
    border-style: solid;
}
  
#super-troops{
    border-color: darkorange;
    border-style: solid;
}

#spells{
    border-color: darkmagenta;
    border-style: solid;
}




@media(max-width:1279px){
    .main-img-box{
        height: auto;
    }
}

@media (max-width:1000px){
    .button-box{
        width: 95%;
    }
    .rect{
        height: 22%;
    }
    .troop-img{
        width: auto;
        height: 85px;
        padding-top: 3%;
    }

}

@media (max-width:700px){
    .rect{
        height: 24%;
    }
    .troop-img{
        height: 75px;
    }

}


@media(max-width:500px){
    .button{
        width: 40px;
        font-size: 10px;
    }
    .button1{
        width: 40px;
    }
    .button-img{
        height: 35px;
    }
    h1{
        font-size: 35px;
    }
    .rect{
        height: 25%;
    }
    .troop-img{
        width: auto;
        height: 70px;
        padding-top: 3%;
    }
    
    
}

@media(max-width:380px){
    .troop-img{
        height: 65px;
    }
}