*{
    margin: 0;
}

.page-container{
    width: 100vw;
    height: auto;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container2{
    width: 100vw;
    height: auto;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}




body{
    overflow-x: hidden;
    background-color: #333030;
}

html, body {
    scroll-behavior: smooth;
}


.top-bar{
    width: 100%;
    height: 16vh;
    background-color: #423c3c;
    padding-bottom: 1%;
}



.top-bar-box{
    width: 100%;
    height: 50%;
    background-color: #423c3c;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.button{
    width: 150px;
    height: 100%;
    border: none;
    background-color: #423c3c;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20%;
    text-align: center;
  }

.button1{
    width: 150px;
    height: 100%;
    border: none;
    background-color: #423c3c;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20%;    
}

.button:hover{
    background-color: gray;
}

.button-img{
    height: 50px;
    width: auto;
}

.main-img-box{
    width: 100%;
    height: 75vh;    
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-img{
    width: 100%;
    height: 100%;
}

.middle-box{
    height: 8vh;
    width: 100%;
}

#content-container1{
    height: 30vh;
    width: 80%;
    background-image: url("bilder/army-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
    max-width: 864px;
    max-height: 287.928px;
    text-align: center;
}

#content-container2{
    height: 30vh;
    width: 80%;
    background-image: url("bilder/defence-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
    max-width: 864px;
    max-height: 287.928px;
    text-align: center;
}

#content-container3{
    height: 30vh;
    width: 80%;
    background-image: url("bilder/builder-base-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
    max-width: 864px;
    max-height: 287.928px;
    text-align: center;
}

#content-container4{
    height: 30vh;
    width: 80%;
    background-image: url("bilder/town-hall-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
    max-width: 864px;
    max-height: 287.928px;
    text-align: center;
}

#content-container5{
    height: 30vh;
    width: 80%;
    background-image: url("bilder/clan-capital-img.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-decoration: none;
    max-width: 864px;
    max-height: 287.928px;
    text-align: center;
}



.box-text{
    margin-top: 20px;
}

h1{
    font-size: 50px;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    
}

.title{
    color: black;
    text-decoration:underline;
    text-align: center;
}

.bottom-box-container{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-box{
    height: 70%;
    width: 100%;
    background-color: #423c3c;
}




    



.page-container3{
    width: 100vw;
    height: auto;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-box-light{
    background-color: #423c3c;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
}

.rect{
    width: 90%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #423c3c;
    border-radius: 15px;
    margin-bottom:  5%;
}



.army-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.troop-img-box{
    width: 120px;
    height: 120px;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.troop-img-box3{
    width: 120px;
    height: 120px;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.troop-img{
    width: auto;
    height: 100%;
    max-width: 120px;
}
  
.top-box{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#elixir-troops{
    border-color: chartreuse;
    border-style: solid;
}

#dark-elixir-troops{
    border-color: crimson;
    border-style: solid;
}
  
#super-troops{
    border-color: darkorange;
    border-style: solid;
}

#spells{
    border-color: darkmagenta;
    border-style: solid;
}

#buildings{
    height: 40%;
    border-style: solid;
    border-color: darkgoldenrod;
}

#traps{
    height: 35%;
}

#traps-border{
    border-style: solid;
    border-color: indianred;
}

.page-container4{
    width: 100vw;
    height: 150vh;
    background-color: #333030;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-box2{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img2{
    padding-top: 1%;
    height: 100%;
    width: auto;
}


#troop-text{
    padding-top: 1%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.half-box{
    height: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: #423c3c;
    margin: 1vw;
}


#info-text-header{
    margin-top: 2%;
}

#top-bar-army{
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

.troop-info{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.troop-info-header{
    padding-bottom: 2%;
}

.pe-button{
    font-size: 30px;
}

.box-row{
    margin-top: 5%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#defence-box{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    background-color: #423c3c;
    height: 10vh;
}




.town-hall-bar{
    height: 10vh;
    width: 100vw;
    background-color: #423c3c;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.town-hall-box{
    min-height: 50vh;
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5vh;
}
.box-half{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.troop-img-box2{
    width: 400px;
    height: 400px;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scroll-top-button:hover {
    background-color: #777;
}


.text-box{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.big-box-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}


.big-box{
    width: 70%;
    height: auto;
    background-color: #423c3c;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 8vh;
}

.cc-img{
    width: 100%;
    height: 100%;
    
}

.cc-box-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8vh;
}

.cc-box{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: #423c3c;
}

h2{
    font-size: 35px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.padding{
    padding-bottom: 2vh;
}

.troop-text2{
    padding-top: 1%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width:1279px){
    .main-img-box{
        height: auto;
    }
    .content-container{
        margin-bottom: 10%
    }
}

@media(min-width:1050px){
    
}

@media(max-width:1400px){
    .page-container4{
        height: 170vh;
    }
    .troop-info{
        font-size: 18px
    }
}


@media (max-width:1000px){
    .button-box{
        width: 95%;
    }
    .rect{
        height: 22%;
    }
    .container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .half-box{
        width: 98%;
        margin-bottom: 5%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .page-container4{
        height: 220vh;
    }
    .img-box2{
        height: 10vh;
    }
    
    .town-hall-box{
        flex-direction: column;
    }
    .box-half{
        width: 95%;
        height: 45%;
    }
    .troop-img-box2{
        width: 250px;
        height: 250px;
    }
}

@media (max-width:700px){
    .rect{
        height: 24%;
    }
    .middle-box{
        height: 1.9%;
    }
    .page-container4{
        height: 270vh;
    }
    
    #troop-header{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
    .cc-box{
        width: 90%;
    }
    .big-box{
        width: 95%;
    }
    .troop-img-box3{
        width: 90px;
        height: 90px;
    }
}


@media(max-width:500px){
    .button{
        width: 40px;
        font-size: 12px;
    }
    .pe-button{
        font-size: 30px;
    }
    .button1{
        width: 40px;
    }
    .button-img{
        height: 35px;
    }
    h1{
        font-size: 25px;
    }
    .rect{
        height: 25%;
    }
    .middle-box{
        height: 1%;
    }

    h2{
        font-size: 25px;
    }
    .troop-img-box3{
        width: 80px;
        height: 80px;
    }
    .troop-img{
        padding: 0%;
    }
}
    
    
    


@media(max-width:380px){

    .pe-button{
        font-size: 20px;
    }
    .troop-img-box3{
        width: 50px;
        height: 50px;
    }
}